.page {
  display: flex;
  padding-block: 1.5rem;
  justify-content: center;
}
.lists__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.list__wrapper {
  height: fit-content;
  min-width: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
}
