.custom__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .custom__checkbox--checked {
    background-color: white;
  }
  
  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
  }
  